.support-wrapper {
    padding: 187px 191px 0;
    background-repeat: no-repeat;
    background-size: 159px;
    background-position: right 179px top 144px;
    background-image: url("/public/round3.svg");

    &__start {
        display: flex;
    }

    &__SS {
        margin-right: 75px;
    }

    &__SSImg {
        width: 187px;
        height: 59px;
    }

    &__heading {
        width: 100%;
        max-width: 438px;
        color: #303030;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        margin: 32px 0 16px;
        padding: 0;
    }

    &__text {
        width: 100%;
        max-width: 406px;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 150%;
        padding: 0;
        margin: 0;
    }

    &__list {
        width: 100%;
        max-width: 459px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 39px, 25px;
        background-position: left 19px top 161px, right 208px bottom 116px;
        background-image: url("/public/round.svg"), url("/public/round2.svg");
    }

    &__list-item {
        width: 100%;
        max-width: 217px;
        padding: 32px 29px 32px 32px;
        border-radius: 10px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        margin-right: 25px;
    }

    &__list-item1 {
        width: 100%;
        max-width: 179px;
        padding: 24px;
        border-radius: 10px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        margin-bottom: -17px;
    }

    &__list-item2 {
        width: 100%;
        max-width: 179px;
        padding: 24px;
        border-radius: 10px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        margin: -17px 25px 0 38px;
    }

    &__list-item3 {
        width: 100%;
        max-width: 192px;
        padding: 32px;
        border-radius: 10px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        margin-top: 17px;
    }

    &__list-span {
        width: 100%;
        max-width: 153px;
        background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;

        b {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 0 0 0 3px;
        }
    }

    &__list-span1 {
        width: 100%;
        max-width: 76px;
        background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;

        b {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 0 0 0 3px;
        }
    }

    &__list-span2 {
        width: 100%;
        max-width: 81px;
        background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
    }

    &__list-span3 {
        width: 100%;
        max-width: 80px;
        background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 550;
        line-height: 44px;
        letter-spacing: 2.72px;
    }

    &__list-desc {
        width: 100%;
        max-width: 156px;
        padding: 0;
        margin: 4px 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }

    &__list-desc1 {
        width: 100%;
        max-width: 131px;
        padding: 0;
        margin: 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }

    &__list-desc2 {
        width: 100%;
        max-width: 128px;
        padding: 0;
        margin: 0 0 0 3px;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }

    &__list-desc3 {
        width: 100%;
        max-width: 128px;
        padding: 0;
        margin: 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }

    &__end {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    &__heading1 {
        width: 100%;
        max-width: 187px;
        color: #303030;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        padding: 0;
        margin: 48px 0 31px 0;
    }

    &__list1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item:nth-child(1) {
        width: 100%;
        max-width: 343px;
        padding: 176px 32px 32px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0;
        background-repeat: no-repeat;
        background-size: 159px 128px;
        background-position: top 32px center;
        background-image: url("/public/1.svg");
    }

    &__item:nth-child(2) {
        width: 100%;
        max-width: 344px;
        padding: 177px 32px 32px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0 16px;
        background-repeat: no-repeat;
        background-size: 166.8px 129px;
        background-position: top 32px center;
        background-image: url("/public/2.svg");
    }

    &__item:nth-child(3) {
        width: 100%;
        max-width: 343px;
        padding: 176px 32px 32px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0;
        background-repeat: no-repeat;
        background-size: 161.3px 128px;
        background-position: top 32px center;
        background-image: url("/public/3.svg");
    }

    &__heading2 {
        width: 100%;
        max-width: 78px;
        margin: 0;
        padding: 0;
        color: #303030;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    &__heading3 {
        width: 100%;
        max-width: 158px;
        margin: 0;
        padding: 0;
        color: #303030;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    &__heading4 {
        width: 100%;
        max-width: 180px;
        margin: 0;
        padding: 0;
        color: #303030;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    &__text1 {
        width: 100%;
        max-width: 279px;
        margin: 16px 0 0;
        padding: 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    &__text2 {
        width: 100%;
        max-width: 280px;
        margin: 16px 0 0;
        padding: 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    &__text3 {
        width: 100%;
        max-width: 279px;
        margin: 16px 0 0;
        padding: 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }
}

.support-wrapper-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 144px 0 0 0;

    &__heading5 {
        color: #303030;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        width: 100%;
        max-width: 438px;
        padding: 0;
        margin: 0;
    }

    &__list2 {
        position: relative;
        width: 100%;
        max-width: 1098px;
        display: flex;
        justify-content: space-between;
        margin: 32px 0 0 0;
        padding: 0;
    }

    &__telsirius {
        width: 100%;
        max-width: 219px;
        padding: 100px 22px 144px;
        background-repeat: no-repeat;
        background-size: 69px 46px, 188px 382px, 219px 410px;
        background-position: top 275px center, center, center;
        background-image: url("/public/SIRIUS.svg"),
            url("/public/Rectangle8.svg"), url("/public/Telsirius.svg");
    }

    &__btn {
        position: relative;
        top: -430px;
        left: 78px;
        width: 100%;
        max-width: 188px;
        padding: 19px 24px;
        text-align: center;
        border-radius: 11.936px;
        background: linear-gradient(326deg, #f0ebff 11.53%, #fff 74.32%);
        box-shadow: 0px 13.52766px 39.78723px 0px rgba(187, 166, 255, 0.78);

        span {
            width: 100%;
            max-width: 140px;
            color: #000;
            font-size: 12px;
            font-style: normal;
            line-height: 15.915px;
        }
    }

    &__btn1 {
        width: 100%;
        max-width: 148px;
        border-radius: 7.957px;
        background: linear-gradient(326deg, #2641d1 11.53%, #3333a3 74.32%);
        border: 0;
        margin: 7px 0 0 0;
        padding: 15px 22px;

        a {
            width: 100%;
            max-width: 102px;
            color: #fff;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            line-height: 14.323px;
        }
    }

    &__heading6 {
        width: 100%;
        max-width: 80px;
        color: #34449c;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 2.72px;
        margin: 0 0 8px 0;
        padding: 0;
    }

    &__desc {
        width: 100%;
        max-width: 362px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }

    &__descreption {
        width: 100%;
        max-width: 324px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 0 24px;
        margin-top: 68px;
        background-repeat: no-repeat;
        background-size: 6.5px 12px;
        background-position: top 6px left, top 54px left, top 102px left,
            top 170px left;
        background-image: url("/public/Triugolnik.svg"),
            url("/public/Triugolnik.svg"), url("/public/Triugolnik.svg"),
            url("/public/Triugolnik.svg");
    }

    &__desc1 {
        width: 100%;
        max-width: 272px;
        margin: 0;
        padding: 0;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }
}

.position-list {
    position: relative;
    bottom: 180px;
    width: 100%;
    max-width: 1257px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item1 {
        width: 100%;
        max-width: 236px;
        height: 100%;
        min-height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        padding: 36px 32px 32px;
    }

    &__item2 {
        width: 100%;
        max-width: 236px;
        height: 100%;
        min-height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        padding: 32px 32px 32px;
    }

    &__item3 {
        width: 100%;
        max-width: 236px;
        height: 100%;
        min-height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        padding: 32px 32px 32px;
    }

    &__item4 {
        width: 100%;
        max-width: 236px;
        height: 100%;
        min-height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        padding: 36px 32px 32px;
    }

    &__item5 {
        width: 100%;
        max-width: 236px;
        height: 100%;
        min-height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        padding: 31px 32px 32px;
    }

    &__span1 {
        padding: 29px;
        background-repeat: no-repeat;
        background-size: 58px;
        background-position: top left;
        background-image: url("/public/message.svg");
    }

    &__span2 {
        padding: 29px 37.5px;
        background-repeat: no-repeat;
        background-size: 75px 58px;
        background-position: top left;
        background-image: url("/public/price.svg");
    }

    &__span3 {
        padding: 31px 22px;
        background-repeat: no-repeat;
        background-size: 44px 62px;
        background-position: top left;
        background-image: url("/public/calc.svg");
    }

    &__span4 {
        padding: 31px 22.5px;
        background-repeat: no-repeat;
        background-size: 8px 8px, 45px 62px, 41px 59px;
        background-position: bottom 4px left 33px, top 3px left 3px, top left;
        background-image: url("/public/document1.svg"),
            url("/public/document.svg"), url("/public/document3.svg");
    }

    &__span5 {
        padding: 31px;
        background-repeat: no-repeat;
        background-size: 62px;
        background-position: top left;
        background-image: url("/public/lock.svg");
    }

    &__heading1 {
        width: 100%;
        max-width: 81px;
        color: #404040;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &__heading2 {
        width: 100%;
        max-width: 94px;
        color: #404040;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &__heading3 {
        width: 100%;
        max-width: 106px;
        color: #404040;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &__heading4 {
        width: 100%;
        max-width: 113px;
        color: #404040;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &__heading5 {
        width: 100%;
        max-width: 172px;
        color: #404040;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &__desc {
        width: 100%;
        max-width: 154px;
        color: #404040;
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1127px) {
    .support-wrapper {
        background-repeat: no-repeat;
        background-size: 159px;
        background-position: right 0 top 84px;
        background-image: url("/public/round3.svg");

        &__SSImg {
            width: 187px;
            height: 59px;
        }

        &__heading {
            width: 100%;
            max-width: 280px;
            font-size: 24px;
            line-height: 30px;
            margin: 24px 0 16px;
        }

        &__text {
            width: 100%;
            max-width: 280px;
            font-size: 12px;
            margin-bottom: 24px;
        }

        &__list {
            width: 100%;
            max-width: 320px;
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            align-items: unset;
            background-repeat: no-repeat;
            background-size: 0px, 25px;
            background-position: 0, left bottom 101px;
            background-image: url("/public/round.svg"),
                url("/public/round2.svg");
        }

        &__list-item {
            width: 100%;
            max-width: 134px;
            padding: 16px 24px 16px 16px;
            margin-right: 16px;
        }

        &__list-item1 {
            width: 100%;
            max-width: 118px;
            padding: 16px 8px 14px 16px;
            margin: 13px 0 0 0;
        }

        &__list-item2 {
            width: 100%;
            max-width: 118px;
            padding: 16px 8px 14px 16px;
            margin: 16px 16px 0 16px;
        }

        &__list-item3 {
            width: 100%;
            max-width: 126px;
            padding: 16px;
            margin-top: 16px;
        }

        &__list-span {
            width: 100%;
            max-width: 132px;
            background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;

            b {
                font-size: 10px;
                line-height: 15px;
            }
        }

        &__list-span1 {
            width: 100%;
            max-width: 100px;
            background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;

            b {
                font-size: 10px;
                line-height: 15px;
            }
        }

        &__list-span2 {
            width: 100%;
            max-width: 80px;
            background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }

        &__list-span3 {
            width: 100%;
            max-width: 80px;
            background-image: linear-gradient(180deg, #4614e8 35%, #bca7ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 12px;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 2.04px;
        }

        &__list-desc {
            width: 100%;
            max-width: 100px;
            padding: 0;
            margin: 4px 0;
            color: #404040;
            font-size: 10px;
            font-style: normal;
            line-height: 15px;
        }

        &__list-desc1 {
            width: 100%;
            max-width: 100px;
            padding: 0;
            margin: 4px 0;
            color: #404040;
            font-size: 10px;
            font-style: normal;
            line-height: 15px;
        }

        &__list-desc2 {
            width: 100%;
            max-width: 100px;
            padding: 0;
            margin: 4px 0;
            color: #404040;
            font-size: 10px;
            font-style: normal;
            line-height: 15px;
        }

        &__list-desc3 {
            width: 100%;
            max-width: 100px;
            padding: 0;
            margin: 4px 0;
            color: #404040;
            font-size: 10px;
            font-style: normal;
            line-height: 15px;
        }

        &__heading1 {
            margin: 32px 0 24px;
            font-size: 14px;
            line-height: 21px;
        }

        &__item:nth-child(1) {
            width: 100%;
            max-width: 280px;
            padding: 133px 24px 24px;
            background-repeat: no-repeat;
            background-size: 115px 93px;
            background-position: top 24px center;
            background-image: url("/public/1.svg");
        }

        &__item:nth-child(2) {
            width: 100%;
            max-width: 280px;
            padding: 134px 24px 24px;
            background-repeat: no-repeat;
            background-size: 122px 94px;
            background-position: top 24px center;
            background-image: url("/public/2.svg");
        }

        &__item:nth-child(3) {
            width: 100%;
            max-width: 280px;
            padding: 134px 24px 24px;
            background-repeat: no-repeat;
            background-size: 119px 94px;
            background-position: top 24px center;
            background-image: url("/public/3.svg");
        }

        &__heading2 {
            width: 100%;
            max-width: 78px;
            font-size: 14px;
            line-height: 21px;
        }

        &__heading3 {
            width: 100%;
            max-width: 136px;
            font-size: 14px;
            line-height: 21px;
        }

        &__heading4 {
            width: 100%;
            max-width: 152px;
            font-size: 14px;
            line-height: 21px;
        }

        &__text1 {
            width: 100%;
            max-width: 232px;
            margin: 16px 0 0;
            font-size: 12px;
            line-height: 18px;
        }

        &__text2 {
            width: 100%;
            max-width: 232px;
            margin: 16px 0 0;
            font-size: 12px;
            line-height: 18px;
        }

        &__text3 {
            width: 100%;
            max-width: 232px;
            margin: 16px 0 0;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .support-wrapper-end {
        &__heading6 {
            font-size: 14px;
            letter-spacing: 2.38px;
        }

        &__desc {
            width: 100%;
            max-width: 280px;
            font-size: 12px;
            line-height: 18px;
        }

        &__descreption {
            width: 100%;
            max-width: 280px;
            min-height: 168px;
            margin-top: 0;
            background-repeat: no-repeat;
            background-size: 6.5px 12px;
            background-position: top 6px left, top 54px left, top 102px left,
                top 170px left;
            background-image: url("/public/Triugolnik.svg"),
                url("/public/Triugolnik.svg"), url("/public/Triugolnik.svg"),
                url("/public/Triugolnik.svg");
        }

        &__desc1 {
            width: 100%;
            max-width: 188px;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .position-list {
        &__item1 {
            width: 100%;
            max-width: 220px;
            max-height: 312px;
            padding: 32px;
        }

        &__item2 {
            width: 100%;
            max-width: 220px;
            max-height: 312px;
            padding: 32px;
        }

        &__item3 {
            width: 100%;
            max-width: 220px;
            max-height: 312px;
            padding: 32px;
        }

        &__item4 {
            width: 100%;
            max-width: 220px;
            max-height: 312px;
            padding: 32px;
        }

        &__item5 {
            width: 100%;
            max-width: 220px;
            max-height: 312px;
            padding: 32px;
        }

        &__heading1 {
            width: 100%;
            max-width: 71px;
            font-size: 14px;
        }

        &__heading2 {
            width: 100%;
            max-width: 82px;
            font-size: 14px;
        }

        &__heading3 {
            width: 100%;
            max-width: 93px;
            font-size: 14px;
        }

        &__heading4 {
            width: 100%;
            max-width: 99px;
            font-size: 14px;
        }

        &__heading5 {
            width: 100%;
            max-width: 217px;
            font-size: 14px;
        }

        &__desc {
            width: 100%;
            max-width: 197px;
            color: #404040;
            font-size: 12px;
            font-style: normal;
            line-height: 18px;
            margin: 0;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 940px) {
    .support-wrapper {
        padding: 122px 0 0 0;

        &__start {
            justify-content: center;
        }
    }
    .support-wrapper-end {
        padding: 72px 0 0 0;

        &__heading5 {
            font-size: 24px;
            line-height: 30px;
        }

        &__telsirius {
            width: 100%;
            max-width: 159px;
            padding: 73px 16px 106px;
            background-repeat: no-repeat;
            background-size: 51px 34px, 135px 275px, 159px 303px;
            background-position: top 203px center, center, center;
            background-image: url("/public/SIRIUS.svg"),
                url("/public/Rectangle8.svg"), url("/public/Telsirius.svg");
        }

        &__btn {
            top: -323px;
            width: 100%;
            max-width: 138px;
            padding: 16px 4px;
            span {
                width: 100%;
                max-width: 130px;
                color: #000;
                font-size: 10px;
            }
        }

        &__btn1 {
            width: 100%;
            max-width: 116px;
            margin: 4px auto 0;
            padding: 8px;

            a {
                width: 100%;
                max-width: 100px;
                font-size: 10px;
            }
        }
    }
}

@media only screen and (max-width: 838px) {
    .support-wrapper-end {
        &__heading5 {
            width: 100%;
            max-width: 280px;
        }

        &__list2 {
            position: relative;
            width: unset;
            max-width: unset;
            display: flex;
            flex-direction: column;
            justify-content: unset;
            align-items: center;
            margin: 18px 0 32px 0;
        }

        &__item1:nth-child(1) {
            margin: 0 0 -76px 0;
            padding: 0;
        }
        &__item1:nth-child(2) {
            margin: 0 0 12px 0;
            padding: 0;
        }
        &__btn {
            top: -300px;
        }
    }

    .position-list {
        position: unset;
        bottom: unset;
        width: unset;
        margin: 0;
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__item1 {
            width: 100%;
            max-width: 280px;
            min-height: 282px;
            padding: 32px;
        }

        &__item2 {
            width: 100%;
            max-width: 280px;
            min-height: 267px;
            padding: 32px;
            margin-top: 8px;
        }

        &__item3 {
            width: 100%;
            max-width: 280px;
            min-height: 271px;
            padding: 32px;
            margin-top: 8px;
        }

        &__item4 {
            width: 100%;
            max-width: 280px;
            min-height: 252px;
            padding: 32px;
            margin-top: 8px;
        }

        &__item5 {
            width: 100%;
            max-width: 280px;
            min-height: 272px;
            padding: 32px;
            margin-top: 8px;
        }
    }
}

@media only screen and (max-width: 674px) {
    .support-wrapper {
        background-repeat: no-repeat;
        background-size: 133px;
        background-position: right top 333px;
        background-image: url("/public/round3.svg");

        &__start {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__SS {
            text-align: center;
            margin: 0;
        }

        &__SSImg {
            width: 162px;
            height: 53px;
            margin-right: -84px;
        }

        &__list {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
        }

        &__list1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__item:nth-child(2) {
            margin: 8px 0;
        }
    }
}
